nav{
    display: flex;
    width: 100%;
    gap: 1em;
    a{
        text-decoration: none;
        color: black;
        font-size: 1.2em;
        &:hover{
            color: gray;
        }
    }
}