.selected {
  background-color: #CFD8DC;
  color: white;
}

button {
  border: none;
  background-color: #607D8B;
  border-radius: 4px;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  .badge{
    margin-right: 10px;    
  }
}

li{
    list-style-type: none;
    margin: 10px 0;
}